html {
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;
    background-color: rgb(220, 215, 215);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 600px;
    height: 1200px;
    padding: 0;
    margin: 0;
}
.bayan {
    width: 100%;
    padding-top: 40px;
    margin: 0 70%;
    position: relative;
    background-color:rgb(220, 215, 215);
}

h1 {
    color: coral;
    font-size: 34px;
    text-align: center;
    margin-top: 0;
}
.accordion  {
    width: 100%;
    color: coral;
    font-weight: 700;
    box-sizing: border-box;
    overflow: hidden;
}
.accordion div {
    position: static;
}
.accordion label {
    position: static;
    cursor: pointer;
    background-color: rgb(220, 215, 215);
    padding: 10px 0 10px 0;
    display: inline-block;
    width: 90%;
    border-bottom: 3px solid coral;
    margin-left: 0;
}
.meme {
    position: static;
    height: 0;
    padding-top: 15px;
    overflow: hidden;
    box-sizing: border-box;
    transition: 1s;
}
.bayan:hover .accordion label {
    color:  rgb(97, 97, 235);
    border-bottom: 3px solid #6161eb;
    padding: 10px 0 10px 0;
    margin-top: 0;
    position: static;
    cursor: pointer;
    background-color: rgb(220, 215, 215);
    display: inline-block;
    width: 90%;
    transition: 1s;
}
.accordion input {
    display: none;
}
.bayan:hover .icon1 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("img/plus.png");
    margin-right: 0;
}
.accordion input:checked + label {
    color: rgb(97, 97, 235);
    border-bottom: 3px solid #6161eb;
}

.accordion input:checked + label + .icon1 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("img/free-icon-font-cross.png");
    margin-right: 0;
    margin-top: 5%;
}
.accordion input:checked + label + .icon1 + .meme {
    height: 100%;
    position: static;
    margin-left: 18%;
    transition: 1s;
}

.bayan:hover .accordion input:checked + label + .icon1 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("img/free-icon-font-cross.png");
    margin-right: auto 0;
    margin-top: 0;
}
.open-block:hover ~ .meme {
    height: 100%;
    position: static;
    margin-left: 18%;
}
.open-block:hover ~ .icon1 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("img/free-icon-font-cross.png");
    margin-right: auto 0;
    margin-top: 0;
}
.meme img {
    transition: 1s;
}
img:hover {
    opacity: 0.6;
    transition: .7s;
}